@import "@authing/react-ui-components/lib/index.min.css";

.g2-view-container,
.g2-init-setting-loading {
  background: var(--white) !important;
}
.g2-view-tabs {
  margin-top: 40px !important;
}
.authing-ant-tabs-nav {
  margin-bottom: 20px !important;
}
.g2-view-login,
.g2-init-setting-loading {
  min-height: 455px !important;
}
.g2-view-header {
  display: none !important;
}
.authing-ant-btn {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
  color: white !important;
  cursor: pointer !important;
  &:hover {
    filter: brightness(0.9) !important;
  }
  &:focus {
    filter: brightness(0.95) !important;
  }
}
.authing-g2-submit-button {
  margin-top: 20px !important;
}
.authing-ant-tabs-tab-btn {
  color: var(--primary) !important;
}
.authing-ant-tabs-ink-bar {
  background: var(--primary) !important;
}
.g2-view-container .g2-view-tabs {
  color: var(--primary) !important;
}
.authing-ant-modal-close {
  left: auto !important;
  right: 0 !important;
}

.authing-ant-input {
  text-align: left !important;
}
// .authing-g2-render-module-modal {
//   top: 40% !important;
//   transform: translateY(-50%) !important;
//   background: var(--white) !important;
// }

// .g2-view-login {
//   min-height: auto !important;
//   background: var(--white) !important;
//   color: var(--black) !important;
// }
// .g2-view-header,
// .g2-tips-line,
// .g2-social-login {
//   display: none !important;
// }
// .authing-ant-tabs-tab-active {
//   color: var(--primary) !important;
// }
// .authing-ant-modal-close {
//   right: 0 !important;
//   left: auto !important;
// }

// .authing-g2-submit-button {
//   background: var(--primary) !important;
//   border-color: var(--primary) !important;
// }

// .g2-view-container
//   .g2-view-tabs
//   [class*="authing-"].authing-ant-tabs-nav-list
//   .authing-ant-tabs-ink-bar {
//   background: var(--primary) !important;
// }

// .g2-view-container
//   .g2-view-tabs
//   [class*="authing-"].authing-ant-tabs-tab.authing-ant-tabs-tab-active
//   .authing-ant-tabs-tab-btn {
//   color: var(--primary) !important;
// }

// [class*="authing-"].authing-ant-btn:focus,
// [class*="authing-"].authing-ant-btn:hover {
//   color: var(--primary) !important;
//   background: #fff;
//   border-color: var(--primary) !important;
// }
